<!DOCTYPE html>
<html>

<head>
	<title>
		Aziende
	</title>

	<link rel="stylesheet" href="/css/aziendeIndex.css" />
</head>

<body>
	<header>
	
	  <div class="header-links">
            <a href="paginaAziende">Aziende</a>
            <a href="formRegistrazione">Registrazione</a>
            <a href="/login">Login</a>
        </div>
	
	</header>
	
	
	  <section class="quadrant" id="quadrant1">
        <a href="paginaAziende" class="image-link">
            <span class="image-text">Profilo</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant2">
        <a href="link2" class="image-link">
            <span class="image-text">Studenti</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant3">
        <a href="link3" class="image-link">
            <span class="image-text">Bacheca</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant4">
        <a href="paginaAziende" class="image-link">
            <span class="image-text">Altre Aziende</span>
        </a>
    </section>
	
</body>

</html>