<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Azienda
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	
	<h1>Aggiungi Azienda</h1>
	<form th:action="@{/formCreaAzienda}" method="POST" th:object="${azienda}">
	<div th:if="${user}">
	<input type="hidden" name="utenteid" th:value="${user.id}" />
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${azienda.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>

		<div>
			<label>indirizzo:</label> <span><input type="text" th:field="${azienda.indirizzo}" /></span>
		    <span th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}">
		    </span>
		</div>

		<div>
			<label>Telefono:</label> <span><input type="text" th:field="${azienda.telefono}" /></span>
			<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
		</div>
		<div>
			<label>Email:</label> <span><input type="text" th:field="${azienda.email}" /></span>
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
		</div>
		<div>
			<label>Immagine:</label> <span><input type="text" th:field="${azienda.immagine}" /></span>
			<span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}">
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>